@model Daulatpride.Domain.Entities.Dashboard


@{
    ViewBag.Title = "DashBoard";
}
<div class="content-page c-payment-block rtl-pages">

    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="alert alert-info alert-dismissible" style="position: relative; padding: 0 25px 0 0; width: 100%; background: #fff !important; border: 1px solid #e9e9ef;">
                    <a href="#" class="close" style="text-decoration: none; padding: 13px 8px;" data-dismiss="alert" aria-label="close">×</a>
                    <marquee scrollamount="3" onMouseOver="stop()" onMouseOut="start()" style="height: auto;">
                        <span id="ctl00_ContentPlaceHolder1_lblnews">
                            <p style="margin: 0; padding: 10px 0;">
                                <span id="ContentPlaceHolder1_lblnews">Welcome To Cryptrad - Crypto Waves, Richer Days  </span>

                            </p>
                        </span>
                    </marquee>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 mb-3">
                <div class="d-flex align-items-center justify-content-between welcome-content">
                    <div class="navbar-breadcrumb">
                        <h4 class="mb-1">Welcome To Dashboard  &nbsp; </h4>
                    </div>
                </div>
            </div>
        </div>


        <div class="row">


            <div class="col-md-6 col-lg-3 col-sm-6">
                <div class="card card-block card-stretch card-height">
                    <div class="card-body">
                        <div class="top-block-one text-center">
                            <div class="icon iq-icon-box-2 d-block mx-auto rounded">
                                <i class="fa fa-inr"></i>
                                @*   <img src="~/images/coin.png" class="img-fluid img-responsive"> *@
                            </div>
                            <div class="mt-4">
                                <h4 class="">Member Direct</h4>
                                <strong class="h2">
                                    @(Model.Widgets?.FirstOrDefault(x => x.Name == "Member Direct")?.Direct ?? 0)
                                </strong>

                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="col-md-6 col-lg-3 col-sm-6">
                <div class="card card-block card-stretch card-height">
                    <div class="card-body">
                        <div class="top-block-one text-center">
                            <div class="bg-danger icon iq-icon-box-2 d-block mx-auto rounded">
                                <i class="fa fa-user"></i>
                            </div>
                            <div class="mt-4">
                                <h4 class="">MTeam Direct</h4>
                                @(Model.Widgets?.FirstOrDefault(x => x.Name == "Team Direct")?.Direct ?? 0)
                              
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="col-md-6 col-lg-3 col-sm-6">
                <div class="card card-block card-stretch card-height">
                    <div class="card-body">
                        <div class="top-block-one text-center">
                            <div class="bg-orange icon iq-icon-box-2 d-block mx-auto rounded">
                                <i class="fa fa-handshake-o"></i>
                            </div>
                            <div class="mt-4">
                                <h4 class="">Total Member</h4>
                                @*   <p class="mb-1">USDT</p> *@
                                @(Model.Widgets?.FirstOrDefault(x => x.Name == "Total Member")?.Direct ?? 0)
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="col-md-6 col-lg-3 col-sm-6">
                <div class="card card-block card-stretch card-height">
                    <div class="card-body">
                        <div class="top-block-one text-center">
                            <div class="bg-info icon iq-icon-box-2 d-block mx-auto rounded">
                                <i class="fa fa-home"></i>
                            </div>
                            <div class="mt-4">
                                <h4 class="">Total Income</h4>
                                @*  <p class="mb-1">USDT</p> *@
                                @(Model.Widgets?.FirstOrDefault(x => x.Name == "Total Income")?.Direct ?? 0)
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>




        <div class="row">




            <div class="col-md-3">
                <div class="widget-stat card bg-danger">
                    <div class="card-body p-3" style="background-color: #5087eb; border-radius: 5px;">
                        <div class="media">
                            <span class="mr-3">
                                <i class="fa fa-diamond"></i>
                            </span>
                            <div class="media-body text-white text-right">
                                <p class="mb-1">Level Income</p>
                                <h3 class="text-white"><span id="ContentPlaceHolder1_spanrewardincome">0.0000</span></h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="widget-stat card ">
                    <div class="card-body p-3 bg-info">
                        <div class="media">
                            <span class="mr-3">
                                <i class="fa fa-window-restore"></i>
                            </span>
                            <div class="media-body text-white text-right">
                                <p class="mb-1">Auto Pool Income</p>
                                <h5 class="text-white"><span id="ContentPlaceHolder1_Spandirectbus">0.00</span></h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="widget-stat card bg-success">
                    <div class="card-body p-3" style="background-color: #db6edb; border-radius: 5px;">
                        <div class="media">
                            <span class="mr-3">
                                <i class="fa fa-soundcloud"></i>
                            </span>
                            <div class="media-body text-white text-right">
                                <p class="mb-1">Earning Wallet</p>
                                @(Model.WalletSummarys?.FirstOrDefault(x => x.Name == "Earning Wallet")?.Amount ?? 0)
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="widget-stat card bg-info">
                    <div class="card-body p-3" style="background-color: #01081f; border-radius: 5px;">
                        <div class="media">
                            <span class="mr-3">
                                <i class="fa fa-google-wallet"></i>
                            </span>
                            <div class="media-body text-white text-right">
                                <p class="mb-1">Fund Wallet	</p>
                                @(Model.WalletSummarys?.FirstOrDefault(x => x.Name == "Fund Wallet")?.Amount ?? 0)
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="clearfix"> </div>



        </div>



        <section class="card p-3">
            <div class="container">

                <div class="row">
                    @* <div class="col-sm-12">
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item d-flex justify-content-between">

                                <span class="referlink">
                                    <h4>Referral Link :</h4>
                                    <hr>

                                    <!-- 🔥 SAME ID LIKE WEBFORMS -->
                                    <a id="ContentPlaceHolder1_lblLink"
                                       href="@Model.ReferralLink"
                                       target="_blank"
                                       style="color:#1e7ddd;">
                                        @Model.ReferralLink
                                    </a>

                                    <div class="text-muted accovercntr">
                                        <button type="button"
                                                class="btn btn-primary btn-sm mt-3"
                                                onclick="return copyText();">
                                            <i class="fa fa-files-o"></i> Copy Referral Link
                                        </button>
                                    </div>
                                </span>

                            </li>
                        </ul>
                    </div> *@

                    <div class="col-sm-12">
                        <ul class="list-group list-group-flush">

                            <li class="list-group-item d-flex justify-content-between">

                                <span class="referlink">
                                    <h4> Referral Link : </h4>
                                    <hr>
                                    <a id="ContentPlaceHolder1_rflink" href="#" target="blank" style="color: #1e7ddd;">
                                        https://cryptrad.io/Register.aspx?RefFormNo=0xEaf1C86cEAd1A69b7a2F9074bdAC5495e69B2863
                                    </a>
                                    <div class="text-muted accovercntr">
                                        <a href="#" target="_blank">
                                            <button type="button" class="btn btn-primary btn-sm mt-3"><i class="fa fa-files-o"></i> Copy Referral  Link </button>
                                        </a>
                                    </div>
                                </span>
                            </li>
                        </ul>
                    </div>
                </div>
                <hr>
                <div class="row g-3">
                    <style>
                        .card-header {
                            font-size: 16px;
                        }

                        .table th {
                            font-weight: 600;
                        }

                    </style>
                    <!-- LEFT TABLE -->
                    <div class="col-lg-6 col-12">
                        <div class="card shadow-sm h-100">
                            <div class="card-header bg-primary text-white fw-bold">
                                My Direct Members
                            </div>

                            <div class="card-body p-0">
                                <div class="table-responsive">
                                    <table class="table table-striped table-bordered mb-0 text-center align-middle">
                                        <thead class="table-light">
                                            <tr>

                                                <th>SNo</th>
                                                <th>Member ID</th>
                                                <th>Member Name</th>
                                                <th>Activation Date</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @if (Model.DirectMembers != null && Model.DirectMembers.Any())
                                            {
                                                foreach (var item in Model.DirectMembers)
                                                {
                                                    <tr>
                                                        <td>@item.SNo</td>
                                                        <td>@item.MemberID</td>
                                                        <td>@item.MemberName</td>
                                                        <td>@item.ActivationDate</td>
                                                    </tr>
                                                }
                                            }
                                            else
                                            {
                                                <tr>
                                                    <td colspan="8" class="text-muted text-center">
                                                        No records found
                                                    </td>
                                                </tr>
                                            }
                                        </tbody>



                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- RIGHT TABLE -->
                    <div class="col-lg-6 col-12">
                        <div class="card shadow-sm h-100">
                            <div class="card-header bg-primary text-white fw-bold">
                                My Team Summary
                            </div>

                            <div class="card-body p-0">
                                <div class="table-responsive">
                                    <table class="table table-striped table-bordered mb-0 text-center align-middle">
                                        <thead class="table-light">
                                            <tr>
                                                <th>Metrics</th>
                                                <th>Direct</th>
                                                <th>Indirect</th>
                                                <th>Total</th>
                                            </tr>
                                        </thead>

                                        <tbody>
                                            @if (Model.LeftRightSummarys != null && Model.LeftRightSummarys.Any())
                                            {
                                                foreach (var item in Model.LeftRightSummarys)
                                                {
                                                    <tr>
                                                        <td>@item.Name</td>
                                                        <td>@item.LeftRegistration</td>
                                                        <td>@item.RightRegistration</td>
                                                        <td>@item.TotalRegistration</td>
                                                    </tr>
                                                }
                                            }
                                            else
                                            {
                                                <tr>
                                                    <td colspan="4" class="text-muted text-center">
                                                        No records found
                                                    </td>
                                                </tr>
                                            }
                                        </tbody>
                                    </table>

                                </div>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </section>
    </div>
</div>
@* <script type="text/javascript">
    function copyText() {

        var element = document.getElementById("ContentPlaceHolder1_lblLink");
        if (!element) {
            alert("Link not found");
            return false;
        }

        var range, selection;

        if (document.body.createTextRange) {
            range = document.body.createTextRange();
            range.moveToElementText(element);
            range.select();
        }
        else if (window.getSelection) {
            selection = window.getSelection();
            range = document.createRange();
            range.selectNodeContents(element);
            selection.removeAllRanges();
            selection.addRange(range);
        }

        try {
            document.execCommand("copy");
            alert("Link copied");
        }
        catch (err) {
            alert("Unable to copy link");
        }

        return false; // 🔥 prevent reload
    }
</script>
 *@